{% extends "profil/layout/base.html" %}
{% block content %}


<div id="loginButton">
	<script type="in/login"></script>
</div>

<!-- <div id="profile-data"> -->
	<div id="up">
		<div class="welcome">
			<h3 id="text-welcome">Selamat Datang, {{author}}</h3>
		</div>
		<div class="header-author">
			<img id="icon" src="http://icons.veryicon.com/256/System/Iconfinder/Home%20Green.png">
			<a id="logout" href="" onclick="logOut()">Logout
			</a>
			<p id="author">{{author}}</p>
		</div>
	</div>

	<br>

	<div id="face">
		<img id="face-icon" src="https://3.bp.blogspot.com/-X28gBy0Wm8Y/WXha60pmWGI/AAAAAAAAAi8/fpQZLbAr12swTfFZFNIQE_AN3DYjqVfnwCEwYBhgL/s1600/Logo%2B72th-06.jpg">
		<div class="button-link">
			<a id="button-forum" href="forum/">Lihat Forum</a>
			<a id="button-mahasiswa" href="">Cari Mahasiswa</a>
		</div>
	</div>

	<br>

	<div id="data-profile">
		<div id="data">
			<h4 id="que1">Tipe Perusahaan</h4>
			<h4 id="ans1">{{tipe}}</h4>
			<!-- {{data.tipe_perusahaan}} -->
		</div>
	</div>
	<br>
	<div id="data-profile2">
		<div id="data">
			<h4 id="que2">Web Perusahaan</h4>
			<h4 id="ans2">{{web}}</h4>
			<!-- {{data.web_perusahaan}} -->
		</div>
	</div>
	<br>
	<div id="data-profile3">
		<div id="data">
			<h4 id="que3">Spesialitas</h4>
			<h4 id="ans3">{{spesialitas}}</h4>
			<!-- {{data.spesialitas}} -->
		</div>
	</div>
<!-- </div> -->

<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 812u1c12sam3fr
    authorize: true
    onLoad: onLinkedInLoad
</script>

<script type="text/javascript">
    
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getCompanyData);
    }

    function displayProfileData(data) {
        user = data.values[0];
        console.log(user.pictureUrl)
        console.log(user.firstName)
        document.getElementById("face").innerHTML = '<img src="'+user.pictureUrl+'" />';
        document.getElementById("text-welcome").innerHTML = user.firstName+' '+user.lastName;
    }
    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        removeLogin();
        IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);

    function getCompanyData(){
        var cpnyID = 13602577;
        IN.API.Raw("/companies/" + cpnyID + ":(id,name,ticker,description,specialties,website-url,logo-url,company-type)?format=json").method("GET").result(displayCompanyProfile).error(onError);
    }

    function displayCompanyProfile(data){
    	document.getElementById("text-welcome").innerHTML = "Selamat Datang, " + data.name;
    	document.getElementById("author").innerHTML = data.companyType.name;
    	document.getElementById("ans1").innerHTML = data.companyType.name;
    	document.getElementById("ans2").innerHTML = data.websiteUrl;
    	document.getElementById("ans3").innerHTML = data.specialties.values[0];
    	document.getElementById("face").innerHTML = '<img id="face-icon" src="'+data.logUrl +'"/>';

    function removeLogin(){
    	document.getElementById('loginButton').remove();
    }
    function logout(){
    	IN.User.logout(removeProfileData);
    }

    function removeProfileData(){
    	document.getElementById('up').remove();
    	document.getElementById('face').remove();
    	document.getElementById('data-profile').remove();
    	document.getElementById('data-profile2').remove();
    	document.getElementById('data-profile3').remove();
    }

</script>

{% endblock %}
