{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="login">
    <meta name="author" content="R">
    <title>test login</title>
</head>

<body>
    <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=81fruveyl5xurr&redirect_uri=http://localhost:8000/login/callback&state=987654321">Log in Here</a>
</body>
</html>
