{% extends "login/layout/base.html" %}
{% block title %}
Profile Perusahaan
{% endblock %}

{% block content %}
<head>
  <script type="text/javascript" src="//platform.linkedin.com/in.js">
   api_key:   81lbbthhfds6i3
   onLoad:    onLinkedInLoad
   authorize: true
  </script>
</head>
<body>
<script type="in/Login">
Hello, <?js= firstName ?> <?js= lastName ?>
</script>
<section name="postFeed" id="postFeed">
    <div class="container" id="lab8">
    </div>
</section>
</body>
{% endblock %}
