body{
	background: linear-gradient(#00FFFF, #B0E0E6);
}


#up{
	margin-left: 75px;
}

.welcome{
	float: left;
	margin-top: 15px;
}

#icon{
	float: left;
	width: 50px;
	height: 50px;
}

#author{
	float: right;
	margin-top: 15px;
}

#logout{
	float: right;
	border:solid red;
	color: red;
	border-radius: 7px;
	margin-left: 20px;
	margin-top: 10px;
	box-shadow: 2px 3px #888888;
	padding: 3px;
}

.header-author{
	float: right;
	margin-right: 50px; 
	margin-top: 20px;
}

#face{
	margin-top: 150px;
	margin-left: 500px;
	width: 300px;
}

#face-icon{
	margin-left: 75px;
	width: 150px;
	height: 150px;
}

.button-link{
	margin-top: 25px;
}
#button-forum{
	float: left;
	border: solid blue;
	border-radius: 7px;
	color: black;
	box-shadow: 2px 3px #888888;
	padding: 3px;
}

#button-mahasiswa{
	float: right;
	border:solid blue;
	border-radius: 7px;
	color: black;
	box-shadow: 2px 3px #888888;
	padding: 3px;
}

#data-profile{
	width: 1000px;
	margin-left: 75px;
	margin-top: 100px;
}

#data-profile2{
	width: 1000px;
	margin-left: 75px;
	margin-top: 30px;
}
#data-profile3{
	width: 1000px;
	margin-left: 75px;
	margin-top: 30px;
}

#que1{
	float: left;
}

#ans1{
	float: left;
	margin-left: 50px;
}

#que2{
	float: left;
}

#ans2{
	float: left;
	margin-left: 50px;
}

#que3{
	float: left;
}

#ans3{
	float: left;
	margin-left: 100px;
}