{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="LAB 8">
   <meta name="author" content="{{author}}">
   <!-- bootstrap css -->
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'css/lab_8.css' %}" />
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
   <!-- <script type="text/javascript" src="//platform.linkedin.com/in.js">
      api_key:81nxkguzhi8p5e
  </script> -->
   <title>
       {% block title %} login {% endblock %}
   </title>
   

   <script type="text/javascript">
    function onLinkedInAuth() {
      IN.API.Profile("me")
      .result( function(me) {
        var id = me.values[0].id;
      // AJAX call to pass back id to your server
      });
    }
  </script>
</head>
<body>
   <div id="fb-root"></div>
   <!-- <script src="{% static 'js/login.js' %}"></script> -->
   <!-- <script type="in/Login"></script> -->
   <header>
       {% include "login/partials/header.html" %}
   </header>
   <script src="{% static 'js/login.js' %}"></script>
   <content>
           {% block content %}
               <!-- content goes here -->
           {% endblock %}
   </content>
   <footer>
       <!-- TODO Block Footer dan include footer.html -->
       {% block footer %}
       {% include "login/partials/footer.html" %}
       {% endblock %}
   </footer>
   <!-- Jquery n Bootstrap Script -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!-- Moment.js to parsing facebook date -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
</body>
</html>
